<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="toDoListDatabase"
			 connectionString="Server=tcp:to-do-list-database-server.database.windows.net,1433;Initial Catalog=todolistdatabase;Persist Security Info=False;User ID=imbir;Password=Orinek1!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
	</connectionStrings>
</configuration>